{{!-- Header --}}
<header class="flex items-center justify-around p-2">
    <h1 class="font-bold text-lg md:text-2xl text-center">{{ today.month }}/{{today.day}}/{{today.year}}</h1>
    <h2 class="opacity-70 text-sm md:text-base">Welcome, {{ userData.username }}</h2>
    <form action="/logout" method="post">
        <button type="submit" class="opacity-70 text-sm md:text-base">Logout</button>
    </form>
</header>


{{!-- container --}}
<div class="container flex flex-col m-auto">
    {{!-- Select Day Calender --}}
    <section class="flex align-center p-4 w-full">
        <form action="/select-day" method="post" class="flex">
            <button type="submit" class="w-full bg-neutral-800 text-neutral-200 px-3 py-1 rounded mx-1">Select Day</button>
            <input type="date" name="selectedDay" id="selectedDay" class="w-full px-3 py-1 border border-black border-opacity-70 rounded mx-1" value="{{formattedDate}}">
            <label for="selectedDay" class="w-full mx-1">Switch days to see what events are going on!</label>
        </form>
    </section>

    {{!-- Calender / Time Segments --}}
    <section class="w-full p-4">
        <div class="flex justify-between m-1">
            <a href="/event">
                <p class="bg-neutral-800 text-neutral-200 px-3 py-1 rounded">Create Event</p>
            </a>
            <h3 class="text-center text-lg md:text-2xl">Your daily overview</h3>
        </div>
        <ul class="border border-black border-opacity-70 opacity-70 rounded">
            <li class="p-1">1am</li>
            <li class="p-1">2am</li>
            <li class="p-1">3am</li>
            <li class="p-1">4am</li>
            <li class="p-1">5am</li>
            <li class="p-1">6am</li>
            <li class="p-1">7am</li>
            <li class="p-1">8am</li>
            <li class="p-1">9am</li>
            <li class="p-1">10am</li>
            <li class="p-1">11am</li>
            <li class="p-1">12am</li>
            <li class="p-1">1pm</li>
            <li class="p-1">2pm</li>
            <li class="p-1">3pm</li>
            <li class="p-1">4pm</li>
            <li class="p-1">5pm</li>
            <li class="p-1">6pm</li>
            <li class="p-1">7pm</li>
            <li class="p-1">8pm</li>
            <li class="p-1">9pm</li>
            <li class="p-1">10pm</li>
            <li class="p-1">11pm</li>
            <li class="p-1">12pm</li>
        </ul>
    </section>

    {{!-- To-Do List --}}
    <section class="w-full p-4">
        <h3 class="text-center text-lg md:text-2xl">To-Do List</h3>

    {{!-- Form for creating new tasks --}}
        <form id="new-task-form" class="text-center" action="/new-task" method="post">
            <input type="text" id="new-task" placeholder="New task" required />
            <button type="submit">Add Task</button>
        </form>

    {{!-- List of tasks --}}
        <ul id="task-list">
            {{#each tasks}}
                <li>
                <input type="checkbox" id="task-{{@index}}" {{#if this.completed}}checked{{/if}} />
                <label for="task-{{@index}}">{{this.task}}</label>
                </li>
            {{/each}}
        </ul>
    </section>

    {{!-- Notes --}}
    <section class="w-full p-4">
        <h3 class="text-center text-lg md:text-2xl">Notes</h3>
        <form action="/save-note" method="post">
            <textarea name="note" class="w-full p-2 mt-2 border border-black border-opacity-70 rounded" placeholder="Write your note here"></textarea>
            <button type="submit" class="w-full p-2 mt-2 bg-blue-500 text-white rounded">Save Note</button>
        </form>
    </section>
</div>
